@media screen and (min-width: 992px) {
    .content {
        max-width: 768px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
       
    }
}
